.carrusel
	img.lazyload( 
		width="1220"
		height="240"
		fetchpriority="high" 
		sizes="50vw"
		alt="Ahorra dinero, Compra Saludable" 
		data-src="./images/carrusel/webp/bannerprincipal.webp" 
		data-srcset="./images/carrusel/webp/bannerprincipal-640.webp 480w, ./images/carrusel/webp/bannerprincipal-1024.webp 640w, ./images/carrusel/webp/bannerprincipal.webp 1024w"
	)